header {
    height: 64px;
}

section {
    height: calc(100% - (64px + 25px)); 
}

.col {
    float: left;
    width: 50%;
	height: 100%;
}

.section-pdf {
	height: calc(100% - (40px + 300px));
    overflow-y: scroll;
}

.section-mp3 {
	height: 40px;
}

.section-log {
	height: 300px;
    overflow-y: scroll;
    background-color: ghostwhite;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    height: 25px;
    background-color: lightgrey;
}