<header>
	<cnb-editor-menu></cnb-editor-menu>
</header>
<section>
	<div class="col">
		<cnb-editor-input [(content)]="dataCnb" ></cnb-editor-input>
	</div>
	<div class="col">
		<div class="section-pdf">
			<cnb-editor-pdf [content]="dataPdf" ></cnb-editor-pdf>
		</div>
		<div class="section-mp3">
			<cnb-editor-mp3 [content]="dataMp3" ></cnb-editor-mp3>
		</div>
		<div class="section-log">
			<cnb-editor-log [content]="dataLog" ></cnb-editor-log>	
		</div>
	</div>
</section>
<footer>
	<cnb-editor-footer></cnb-editor-footer>
</footer>