<button 
	type="button" 
	class="btn btn-sm btn-outline-primary logBtn" 
	mdbRippleRadius 
	(click)="logModal.show()" 
	[disabled]="content.length == 0"
	mdbTooltip="Voir logs" 
	placement="bottom"
	>
	<i class="fa fa-file-text-o" aria-hidden="true"></i>
</button>
<div mdbModal #logModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div [ngClass]="{
		'modal-dialog':true,
		'modal-notify':true,
		'modal-success':stateSuccess,
		'modal-info':(!stateSuccess && !stateError),
		'modal-danger': stateError,
		'modal-lg': true
		}" class="modal-dialog modal-notify modal-info" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<p class="heading lead">Logs</p>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="logModal.hide()">
					<span aria-hidden="true" class="white-text">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="log-content">
					<div class="logEntry {{ log.level }}" *ngFor="let log of content">
						<div class="title">{{ log.title }}</div>
						<div class="content" [innerHTML]=log.content></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>