.modal {
    max-height: 95%;
    min-height: 300px;
}

.modal-dialog {
    height: calc(100% - 69px);
}

.modal-content {
    height: 100%;
}

.modal-body {
    overflow-y: scroll;
}

.modal-header {
    min-height: 69px;
}

.logEntry {
	width : 100%;
    margin-top: 14px;
}

.title {
    color: black;
    display: block;
    font-weight: bold;
    width: 100%;
}

.content {
    margin-left: 8px;
    color: grey;
    width: 100%;
}

.logBtn {
    width: 20px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 18px;
}