<div *ngIf="generating; then loadingTemplate else viewerTemplate"></div>

<ng-template #viewerTemplate>
	<pdf-viewer
		[src]="binaryContent"
	    [original-size]="false"
	    [fit-to-page]="true"
	    [autoresize]="false"
	    [show-all]="true"
	    [zoom]="zoomLevel"
	    class="viewer"
	></pdf-viewer>
</ng-template>

<ng-template #loadingTemplate>
	<div class="outer">
	  <div class="middle">
	    <div class="inner">
	      <img src="assets/spinner.gif" class="spinLogo"/>
	    </div>
	  </div>
	</div>
</ng-template>