.container-main {
    width: 100%;
    height: 100%;
    background: #f9f9f9 ;
}

.mainrow {
    height: calc(100% - (61px + 50px));
    width: 100%;
    overflow-y: hidden;
	padding-top: 10px;
}

@media (min-width: 768px) {
    .view-col {
        max-height: 100%;
    }
    .col-bottom {
        border: 3px;
        border-left-style: dotted;
        border-color: lightgrey;
    }
    .viewer-toolbar {
        border: 3px;
        border-bottom-style: dotted;
        border-color: lightgrey;
    }

}
@media (max-width: 768px) {
    .view-col.col-top {
        height: calc(50% - 50px/2);
        max-height: calc(50% - 50px/2);
        padding-right: 0px;
    }
    .view-col.col-bottom {
        height: calc(50% + 50px/2);
        max-height: calc(50% + 50px/2);
        padding-right: 0px;
    }
    .viewer-toolbar {
        border: 3px;
        border-top-style: dotted;
        border-bottom-style: dotted;
        border-color: lightgrey;
    }
}

.col-bottom {
    background-color: white;
}

.viewer-toolbar {
    background: #f9f9f9 ;
    height: 50px;
    display: flex;
    justify-content: space-between;    
}

.pdf-content {
    height: calc(100% - 50px);
    max-height: 100%;
}

.ctrlBtn {
    width: 20px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 18px;
}

.toolbarRow {
    width:100%;
}

.mp3-ctrl {
    display: inline-block; 
    min-width:135px;
}

.pdf-ctrl {
    display: inline-block; 
    min-width:90px;
}

.data-ctrl {
    display: inline-block; 
    min-width:97px;
}