
<cnb-editor-menu [disable]="working" (menuClicked)="menuAction($event)"></cnb-editor-menu>
<!--
<section>
	<div class="col">
		<cnb-editor-input [(content)]="dataCnb" ></cnb-editor-input>
	</div>
	<div class="col">
		<div class="section-pdf">
			<cnb-editor-pdf [content]="dataBase64Pdf" ></cnb-editor-pdf>
		</div>
		<div class="section-mp3">
			<cnb-editor-mp3 [content]="dataBase64Mp3" ></cnb-editor-mp3>
		</div>
	</div>
</section>
<footer>
	<cnb-editor-footer></cnb-editor-footer>
</footer>
<cnb-editor-log [content]="dataLog" ></cnb-editor-log>
-->