<mat-toolbar class="md-primary">

	<span>CNB Editor</span>

	<span class="example-spacer"></span>

	<button mat-button [matMenuTriggerFor]="menu"><mat-icon class="example-icon">queue_music</mat-icon></button>
	<mat-menu #menu="matMenu">
	  <button mat-menu-item (click)="menuClick('genererPdf')" >Generer PDF</button>
	  <button mat-menu-item (click)="menuClick('genererMp3')" >Generer MP3</button>
	  <button mat-menu-item (click)="menuClick('download')" >Telecharger PDF</button>
	</mat-menu>

</mat-toolbar>