.headbar {
    background-color: #3f51b5;
    height: 64px;
}

.spacer_left {
  flex: 1 1 auto;
  width: calc(100% - (62px + 15px + 150px + 150px + 20px + 150px + 20px));
}

.spacer_logo {
  flex: 1 1 auto;
  width: 15px;
}

.spacer_menu {
  flex: 1 1 auto;
  width: 20px;
}

.spacer_right {
  flex: 1 1 auto;
  width: 20px;
}

.headerMenu {
	width: 150px;
}

.title {
	width: 150px;
	font-size: 30px;
    font-weight: lighter;
    color: white;

}