<div class="Log">
	<div class="mainTitle">Journal</div>
	<div class="logContainer">
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
		<div class="logEntry {{ log.level }}" *ngFor="let log of content">
			<div class="title">{{ log.title }}</div>
			<div class="content" [innerHTML]=log.content></div>
		</div>
	</div>
</div>