.mainTitle {
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 8px;
    height: 25px;
}

.logContainer {
    width: calc(100% - 14px);
    height : calc( 100% - 40px);
    margin: auto;
    overflow-y: scroll;
    border: 1px;
}

.logEntry {
	width : 100%;
    font-family: Courier;
    margin-top: 14px;
    margin-left: 16px;
}

.title {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.content {
    font-size: 12px;
    color: grey;
    margin-top: 4px;
    margin-left: 10px;
}

.error .title{
	color: red;
}

.warning .title {
	color: darkorange;
}

.success .title{
    color: green;
}

.info .title{
    color: black;
}
