.modal {
    max-height: 95%;
}

.log-content {
    overflow-y: scroll;
    overflow-y: scroll;
}

.logEntry {
	width : 100%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 14px;
}

.title {
    color: black;
    display: block;
    font-weight: bold;
    width: 100%;
}

.content {
    margin-left: 8px;
    color: grey;
    width: 100%;
}
