.modal {
    max-height: 95%;
    min-height: 300px;
	font-size: 15px;
}

.modal-dialog {
    height: 100%;
}

.modal-content {
    max-height: 100%;
}

.modal-body {
    overflow-y: scroll;
}

.modal-header {
    min-height: 69px;
}

.justif {
	text-align: justify;
}