.modal {
    max-height: 95%;
    min-height: 300px;
	font-size: 14px;
}

.modal-dialog {
    height: 100%;
}

.modal-content {
    max-height: 100%;
}

.modal-body {
    overflow-y: scroll;
}

.modal-header {
    min-height: 69px;
}

.justif {
	text-align: justify;
}

.logo {
	color: #ffcf86;
	font-weight: bold;
}

.logo.navbar-brand {
	color: #ffcf86;
	cursor: default;
}

.logoimg {
	filter: drop-shadow(1px 1px #1a257a);
	cursor: default;
}

.github {
	font-size: 13px
}


@media (max-width: 420px) {
	.logo {
		font-size: 17px;
	}
	
	.logoimg {
		height: 25px;
	}
}