html, body {
    height: 100%;
	padding: 0px;
	margin:0px;
	background-color: rgb(63, 81, 181);
}

/* Code mirror css */
.cm-uservar {color: #af9316;}
.cm-tempo {color: #f98b16;}
.cm-linebreak {color: #f98b16;}
.cm-repeatBlock {color: #f98b16;}
.cm-beginBlock {color: #f98b16;}
.cm-endBlock {color: #f98b16;}
.cm-altBlock {color: #f98b16;}
.cm-liaison {color: #f98b16;}
.cm-anacrouse {color: #f98b16;}
.cm-silence {color: #f98b16;}
.cm-nolet {color: #f98b16;}
.cm-ornement {color: #7c7c7c;}
.cm-note {color: #0b4a91;}
.cm-annotation {color: black;}	
.cm-commentaire {color: #249115;}
.cm-scoreSep {color:#f98b16;}
.cm-pagebreak  {color:#f98b16;}
span[role=presentation] {color: red;}

/* Roboto font fix, switching to Poppins font */
@import url('https://fonts.googleapis.com/css?family=Poppins');
.navbar-brand, 
.nav-link,
.modal-header,
.modal-body, 
.tooltip,
.footer-copyright { 
	font-family: 'Poppins', sans-serif; 
}