html, body {
    height: 100%;
	padding: 0px;
	margin:0px;
}

/* Code mirror css */
.cm-uservar {color: #dda400;}
.cm-tempo {color: #3da526; font-weight: bold;}
.cm-linebreak {color: #3da526; font-weight: bold;}
.cm-repeatBlock {color: #3da526; font-weight: bold;}
.cm-beginBlock {color: #3da526; font-weight: bold;}
.cm-endBlock {color: #3da526; font-weight: bold;}
.cm-altBlock {color: #3da526; font-weight: bold;}
.cm-liaison {color: #3da526; font-weight: bold;}
.cm-anacrouse {color: #3da526; font-weight: bold;}
.cm-silence {color: #3da526; font-weight: bold;}
.cm-nolet {color: #3da526; font-weight: bold;}
.cm-ornement {color: #7c7c7c;}
.cm-note {color: #0b4a91;}
.cm-annotation {color: black;}	
.cm-commentaire {color: #9b9b9b;}
.cm-scoreSep {color: #dda400;}
.cm-pagebreak  {color:#3da526; font-weight: bold;}
span[role=presentation] {color: red;}

/* Roboto font fix, switching to Poppins font */
@import url('https://fonts.googleapis.com/css?family=Poppins');
.navbar-brand, 
.nav-link,
.modal-header,
.modal-body, 
.tooltip,
.footer-copyright { 
	font-family: 'Poppins', sans-serif; 
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');